article
    display: grid
    button
        font-size: 2rem
        padding: 2rem
        color: #fff
        margin: .5rem
        border-radius: 10px
        font-weight: 700
        box-shadow: 0 0 3px #121211
        a
            text-decoration: none
            color: #ffff
    .enter
        background: #309898
        &:hover
            background: #a4fefe
            color: #121212
    .exist
        background: #CB0404
        &:hover
            background: #eb9090
            color: #121211
            