 
section
    form
        fieldset
            // border: 1px solid black
            border-radius: 20px
            label
                font-size: 1.5rem
                font-weight: 600

            input
                border: none
                border-radius: 10px
                font-size: 2rem
                font-weight: 500
                
            a
                font-size: 2rem
                border-radius: 10px
                text-decoration: none
                text-align: center

section
    button
            &:first-child
                &:hover
                    color: #f3f
        a
            font-size: 3rem
            font-weight: 700
            padding: 2rem
            text-decoration: none


                
                   



